.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.transactionHistory th {
  background-color: black;
  font-weight: bold;
}

.transactionHistory tr:nth-child(even) {
  background-color: gray;
}

.transactionHistory tr:nth-child(odd) {
  background-color: white;
}
.transactionHistory tr:first-child td {
  color: black;
  background-color: white;
}

.transactionHistory tr:not(:first-child) td {
  color: black;
}
